@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
/* Global Styles */
:root {
  --color-white: #fff;
  --dark-color: #333;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: var(--color-white);
  color: var(--dark-color);
}

table,
th,
td {
  border: 1px solid black;
}

td {
  padding: 0.3rem 0.5rem;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}

 @media (max-width: 768px) {
   .wrapper{
    grid-template-columns: 1fr;
   }
}